<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"	
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd	
	" default-lazy-init="true">
	

	<!-- 事务管理器: 基于数据源事务管理器 -->
	<bean id="dataSourceTransactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 使用动态数据源 -->
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="dataSourceTransactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="tx*" propagation="REQUIRED" />
			<tx:method name="execute*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 
		一个数据源对应一个事务，service控制事务，一个非业务service层对应一个数据源，调用同一个数据源的多个dao，
	由业务service层最终调用多个非业务service来实现操作多个数据源的目的，但是对于多个数据源的事务控制无法同时实现控制，
	只能实现单个非业务service层的事务控制；
	执行流程: 数据源AOP执行，初始化数据源公共值-ThreadLocal -》 事务AOP执行（获取数据源路由，然后初始化事务配置）
	  -》 开启事务，执行service层方法.
	 -->
	<!-- 数据源AOP配置 -->
	<bean id="dataSourceAspect" class="com.hua.aspect.DataSourceAspect">
		<!-- 区分拦截子类 的包路径前缀 -->
		<property name="subPackages">
			<list>
				<value>com.hua.dao.one</value>
				<value>com.hua.dao.two</value>
				<value>com.hua.dao.three</value>								
			</list>
		</property>
	</bean>
	<aop:config proxy-target-class="true">
		<!-- 若要父类也被拦截，则需要将父类纳入拦截的方法，这样子就无法将各个层分开执行
		因此需要寻求其他路径来实现		
		 -->
		<!-- DataSourceAspect 使用注解标识 -->
		<aop:aspect ref="dataSourceAspect" order="1">
			<!-- 父类统一拦截，在程序中根据包名前缀去区分 -->
			<aop:pointcut id="pointcutCoreDao" expression="execution (* com.hua.dao.impl.*.*(..))" />			
			<!-- 子类分开拦截 -->
			<aop:pointcut id="pointcutDaoOne" expression="execution (* com.hua.dao.one.*.*(..))" />
			<aop:pointcut id="pointcutDaoTwo" expression="execution (* com.hua.dao.two.*.*(..))" />
			<aop:pointcut id="pointcutDaoThree" expression="execution (* com.hua.dao.three.*.*(..))" />	
			<!-- 切点引用，在执行之前先设置好数据源 -->
			<aop:before pointcut-ref="pointcutCoreDao" method="setDataSource" />				
			<aop:before pointcut-ref="pointcutDaoOne" method="setDataSource01" />	
			<aop:before pointcut-ref="pointcutDaoTwo" method="setDataSource02" />	
			<aop:before pointcut-ref="pointcutDaoThree" method="setDataSource03" />	
		</aop:aspect>
	</aop:config>
	
	<!-- 等效于 aop:config proxy-target-class="true" -->
<!-- 	<aop:aspectj-autoproxy proxy-target-class="true" />	 -->
	<!-- 事务AOP配置 -->
 	<aop:config proxy-target-class="true">
		<aop:pointcut id="transactionPointCut" expression="execution(* com.hua.dao..*.*(..))" />
		<!-- 引用上面的切点 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="transactionPointCut" order="2" />
	</aop:config>
	

</beans>
