<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	" default-lazy-init="true">


	<!-- 扫描 注册bean -->
	<context:component-scan base-package="com.hua" />
	
	<!-- 用xml的方式声明一个bean -->
	<bean id="monday" class="com.hua.bean.Monday">
		<property name="id" value="20150629" />
		<property name="username" value="星期一" />
	</bean>
	
	<!-- 用xml的方式声明一个service 等效于@Service -->
	<bean id="tuesdayService" class="com.hua.service.impl.TuesdayServiceImpl">
		<!-- 引用了使用 @Component标注的bean -->
		<property name="tuesday" ref="tuesday" />
	</bean>




</beans>
