<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	" default-lazy-init="true">

	<!-- 通过 配置加载Bean 实现 -->
	<!-- 加载配置文件 -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>				
				<value>classpath:/conf/properties/config-bean.properties</value>
				<value>classpath:/conf/properties/spring.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="springConfigBean" class="com.hua.bean.SpringConfigBean">
		<property name="name" value="${name}" />
		<property name="age" value="${age}" />
		<property name="address" value="${address}" />
		<!-- 可以解析 逗号(, )隔开的值 -->
		<property name="nicknames" value="${nicknames}" />
	</bean>
	
</beans>
