<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	" default-lazy-init="true">
	
	<!-- 通过 context指定的标签 实现 -->
	<context:property-placeholder location="classpath*:/conf/properties/config-context.properties" 
		ignore-resource-not-found="true" file-encoding="UTF-8" ignore-unresolvable="true" local-override="true" />

	<bean id="springConfigBean2" class="com.hua.bean.SpringConfigBean">
		<property name="name" value="${name}" />
		<property name="age" value="${age}" />
		<property name="address" value="${address}" />
		<!-- 可以解析 逗号(, )隔开的值 -->
		<property name="nicknames" value="${nicknames}" />
	</bean>
	
</beans>
